.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: black;
    color: white;
    text-align: center;

  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
ion-slide{
    padding-top: 60px ;
}
.logp{
    padding-top: 50px ;
}

.silk{
    width: 30%;
    height: 20%;
   
}


.haha{
    padding-top: 60px ;
}


.silkw{
    width: 50%;
    height: 50%;
   
}

ion-item{
    width: 100%;
   
}

form{
    width: 90%;
}

.loadimage{
height: 100%;
width: 100%;
}


.kmkmkm{
    height: 50%;
    width: 30%;
}



.regbut{
    padding-top: 20px ;
}


.power{
    height: 40%;
    width: 40%;
}